<template>
  <div class="container">
    <h1>Product Insert</h1>
    <form method="post" @submit.prevent="submitData()">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" v-model="formSubmitData.productName" />
        </div>
      </div>
      <div class="form-group row">
        <label for="brand" class="col-sm-2 col-form-label">Brand</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="brand" v-model="formSubmitData.productBrand" />
        </div>
      </div>
      <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="price" v-model="formSubmitData.productPrice" />
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea
            id="description"
            class="form-control"
            cols="30"
            rows="10"
            v-model="formSubmitData.productDescription"
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="bgcolor" class="col-sm-2 col-form-label">BgColor</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="bgcolor" v-model="formSubmitData.productBgColor" />
        </div>
      </div>
      <div class="form-group row">
        <label for="featured" class="col-sm-2 col-form-label">Featured</label>
        <div class="col-sm-10">
          <input type="checkbox" id="featured" v-model="formSubmitData.productFeatured" />
        </div>
      </div>
      <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
          <input type="file" id="image"/>
        </div>
      </div>
      <div class="form-group row">
        <button type="button" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      formSubmitData: {
        productName: "",
        productBrand: "",
        productPrice: "",
        productDescription: "",
        productBgColor: "",
        productFeatured: "",
        productImage: "",
      }
    };
  },
  methods: {
    submitData() {
      var self = this;
      var postData = {
        productName: this.formSubmitData.productName,
        productBrand: this.formSubmitData.productBrand,
        productImage: document.querySelector("#image").files[0],
        productPrice: this.formSubmitData.productPrice,
        productDescription: this.formSubmitData.productDescription,
        productBgColor: this.formSubmitData.productBgColor,
        productFeatured: this.formSubmitData.productFeatured,
      };
      var formData = new FormData();
      for (var key in postData) {
        formData.append(key, postData[key]);
      }

      this.$axios
        .post("http://localhost:3000/product/insert", formData)
        .then(function(response) {
          // console.log(response)
          if (response.status === 201) {
            self.$router.push("/admin/product");
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>