<template>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h1>Product List</h1>
        </div>
        <div class="col-1">
          <router-link :to="'/admin/product/insert'">
            <button class="btn btn-primary" style="float: right;">Insert</button>
          </router-link>
        </div>
      </div>
      <table class="table">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Harga</th>
          <th scope="col">Image</th>
          <th scope="col" colspan="2">Action</th>
        </tr>
        <tr v-for="(productsRow, index) in product" :key="index">
          <td v-text="productsRow.productName"></td>
          <td v-text="productsRow.productBrand"></td>
          <td v-text="productsRow.productPrice"></td>
          <td>
            <img :src="productsRow.productImage" height="150px" width="200px" />
          </td>
          <td>
            <router-link :to="'/admin/product/update/'+productsRow._id">
              <button class="btn btn-info">Edit</button>
            </router-link>
          </td>
          <td>
            <button class="btn btn-danger" @click="deleteData(productsRow._id)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      product: [
        {
          productName: "Binus Kemanggisan",
          productBrand: "JL. Kemanggisan",
          prouductPrice: ""
        },
        {
          productName: "Binus Kemanggisan",
          productBrand: "JL. Kemanggisan",
          productPrice: ""
        }
      ]
    };
  },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      var self = this;
      this.$axios.get("http://localhost:3000/product/findAll").then(function(response) {
        self.product = response.data;
        console.log(self.product);
      });
    },
    deleteData(dataId) {
      var self = this;
      this.$axios
        .delete("http://localhost:3000/product/deleteOne/" + dataId)
        .then(function(response) {
          self.getData()
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>