<template>
  <div class="container">
    <h1>Product Update</h1>
    <form method="post" @submit.prevent="submitData()">
      <div class="form-group row">
        <label for="entry" class="col-sm-2 col-form-label">Entry Date</label>
        <div class="col-sm-10">
          <div id="entry" v-text="formSubmitData.entryDate" />
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" v-model="formSubmitData.productName" />
        </div>
      </div>
      <div class="form-group row">
        <label for="brand" class="col-sm-2 col-form-label">Brand</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="brand" v-model="formSubmitData.productBrand" />
        </div>
      </div>
      <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="price" v-model="formSubmitData.productPrice" />
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea
            id="description"
            class="form-control"
            cols="30"
            rows="10"
            v-model="formSubmitData.productDescription"
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="bgcolor" class="col-sm-2 col-form-label">BgColor</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="bgcolor" v-model="formSubmitData.productBgColor" />
        </div>
      </div>
      <div class="form-group row">
        <label for="featured" class="col-sm-2 col-form-label">Featured</label>
        <div class="col-sm-10">
          <input type="checkbox" id="featured" v-model="formSubmitData.productFeatured" />
        </div>
      </div>
      <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">New Image</label>
        <div class="col-sm-10">
          <input type="file" id="image" />
        </div>
      </div>
      <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">Old Image</label>
        <div class="col-sm-10">
          <img :src="formSubmitData.productImage" height="200px" />
        </div>
      </div>
      <div class="form-group row">
        <button type="button" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      formSubmitData: {
        productName: "Onero",
        productBrand: "Greenlake City",
        productPrice: "",
        productDescription: "",
        productBgColor: "",
        productFeatured: "",
        productImage: "",
        entryDate: ""
      },
      id: this.$route.params.id
    };
  },
  created() {
    this.getDetailData();
  },
  methods: {
    getDetailData() {
      var self = this;
      this.$axios
        .get(`http://localhost:3000/product/findOne/${this.id}`)
        .then(function(response) {
          if (response.status === 200) {
            self.formSubmitData.productName = response.data.productName;
            self.formSubmitData.productBrand = response.data.productBrand;
            self.formSubmitData.productImage = response.data.productImage;
            self.formSubmitData.productPrice = response.data.productPrice;
            self.formSubmitData.productDescription = response.data.productDescription;
            self.formSubmitData.productBgColor = response.data.productBgColor;
            self.formSubmitData.productFeatured = response.data.productFeatured;
            self.formSubmitData.entryDate= response.data.entryDate;
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    submitData() {
      var self = this;
      var post = {
        productName: this.formSubmitData.productName,
        productBrand: this.formSubmitData.productBrand,
        productImage: document.querySelector("#image").files[0],
        productPrice: this.formSubmitData.productPrice,
        productDescription: this.formSubmitData.productDescription,
        productBgColor: this.formSubmitData.productBgColor,
        productFeatured: this.formSubmitData.productFeatured,
      };
      var formData = new FormData();
      for (var key in post) {
        formData.append(key, post[key]);
      }
      this.$axios
        .patch(`http://localhost:3000/product/updateOne/${this.id}`, formData)
        .then(function(response) {
          if (response.status === 200) {
            self.$router.push("/admin/product");
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>