<template>
  <section>
    <Navbar />
    <!-- Product Detail -->
    <div class="container-fluid product-details-block">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-7">
            <img class="product-img" :src="detailData.detailImage" alt />
          </div>
          <div class="col-12 col-lg-5">
            <div class="product-contents">
              <p class="product-brand">{{ detailData.detailBrand }}</p>
              <h1 class="product-name">{{ detailData.detailName }}</h1>
              <p class="product-price">IDR {{ detailData.detailPrice }}</p>
              <p
                class="product-desc"
              >{{ detailData.detailDescription }}</p>
              <!-- <div class="form-group">
                <select class="form-control">
                  <option>40</option>
                  <option>41</option>
                  <option>42</option>
                  <option>43</option>
                </select>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-cta">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg">
            <div class="cta-total d-none d-lg-block">
              <p class="total-label">TOTAL</p>
              <p class="total-value">IDR {{ detailData.detailPrice }}</p>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <a :href="'https://wa.me/6281289380818?text=Saya mau beli '+detailData.detailName">
              <button class="btn-base btn-block btn-buy">BUY NOW</button>
            </a>
          </div>
          <!-- <div class="col-6 col-lg-3">
            <button class="btn-base btn-block btn-cart">ADD TO CART</button>
          </div>-->
        </div>
      </div>
    </div>
    <div class="container related-products-block">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">Latest Products</h2>
        </div>
        <div class="col-6 col-lg-3" v-for="(productDataRow, index) in latestData" :key="index">
          <router-link :to="'/product/detail/'+productDataRow._id" class="product-card" onclick="window.location.reload()">
            <div class="product-brand">{{ productDataRow.productBrand }}</div>
            <img :src="productDataRow.productImage" alt class="product-img" height="150px" width="200px"/>
            <div class="product-name">{{ productDataRow.productName }}</div>
            <div class="product-price">IDR {{ productDataRow.productPrice }}</div>
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Navbar from '@/components/Navbar.vue';
export default {
  
  components: {
    Navbar
  },
  data() {
    return {
      latestData:{
        productName: "Onero",
        productBrand: "Greenlake City",
        productPrice: "",
        productDescription: "",
        productImage: ""
      },
      detailData: {
        detailName: "Onero",
        detailBrand: "Greenlake City",
        detailPrice: "",
        detailDescription: "",
        detailImage: ""
      },
      id: this.$route.params.id
    };
  },
  created() {
    this.getDetailData();
    this.getLatestData();
  },
  methods: {
    getDetailData() {
      var self = this;
      this.$axios
        .get(`http://localhost:3000/product/findOne/${this.id}`)
        .then(function(response) {
          if (response.status === 200) {
            self.detailData.detailName = response.data.productName;
            self.detailData.detailBrand = response.data.productBrand;
            self.detailData.detailImage = response.data.productImage;
            self.detailData.detailPrice = response.data.productPrice;
            self.detailData.detailDescription =
              response.data.productDescription;
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
     getLatestData() {
      var self = this;
      this.$axios
        .get("http://localhost:3000/product/findAll")
        .then(function(response) {
          self.latestData = response.data;
          console.log(self.latestData);
        });
    }
  }
};
</script>
<style lang="scss">
@import "@/assets/style/_detailProduct.scss";
</style>