<template>
  <!--FEATURED PRODUCTS-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">Featured Products</h2>
        </div>
        <div class="col-6 col-lg-3" v-for="(productDataRow, index) in productData" :key="index">
          <div v-if="productDataRow.productFeatured">
            <router-link
              :to="'/product/detail/'+productDataRow._id"
              class="product-card featured-card"
              v-bind:style="{ 'background-color': productDataRow.productBgColor }"
            >
              <div class="product-brand">{{ productDataRow.productBrand }}</div>
              <img :src="productDataRow.productImage" alt class="product-img" height="175px"/>
              <div class="product-name">{{ productDataRow.productName }}</div>
              <div class="product-price">IDR {{ productDataRow.productPrice }}</div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <!--LATEST PRODUCTS-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">Latest Products</h2>
        </div>
        <div class="col-6 col-lg-3" v-for="(productDataRow, index) in productData" :key="index">
          <router-link :to="'/product/detail/'+productDataRow._id" class="product-card">
            <div class="product-brand">{{ productDataRow.productBrand }}</div>
            <img :src="productDataRow.productImage" alt class="product-img" height="150px" width="200px"/>
            <div class="product-name">{{ productDataRow.productName }}</div>
            <div class="product-price">IDR {{ productDataRow.productPrice }}</div>
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import louisvuitton from "@/assets/img/louisvuitton-archlight.png";
import asics from "@/assets/img/asics-onitsuka-tiger.png";
import underarmour from "@/assets/img/underarmour-micro-g-pursuit.png";
import javaseven from "@/assets/img/java-seven.png";
import pumahybrid from "@/assets/img/puma-hybrid-netfit.png";
import adidasmad from "@/assets/img/adidas-mad-bounce.png";
import adidasresponse from "@/assets/img/adidas-response.png";
import niceepic from "@/assets/img/nike-epic-react-flyknit.png";
export default {
  data() {
    return {
      productData: [
        {
          productName: "Archlight",
          productBrand: "LOUIS VUITTON",
          productPrice: 18000000,
          productImage: louisvuitton,
          productFeatured: false,
          productBgColor: "#ffffff"
        }
      ]
    };
  },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      var self = this;
      this.$axios
        .get("http://localhost:3000/product/findAll")
        .then(function(response) {
          self.productData = response.data;
          console.log(self.productData);
        });
    }
  }
};
</script>
<style lang="scss">
@import "@/assets/style/_product.scss";
</style>